body {
	background-image: url('Asset/photo-1519120944692-1a8d8cfc107f.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.team {
	position: relative;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.fotoKotak {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}

.fotoKotak img {
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}

.title h1 {
	color: #000000;
	font-size: 4rem;
	text-align: center;
}

.kotak {
	display: flex;
	padding: 16px;
	background: #282a3aea;
	border-radius: 15px;
	transition: all .38s ease;
	perspective: 1000px;
	height: 100%;
	align-items: center;
}

.kotak h3 {
	font-size: 23px;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 8px;
}

.kotak h5 {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.kotak:hover {
	transform: translateY(-10px);
	cursor: pointer;
	background-color: #745900ab;
}

@media(max-width: 1240px) {
	.team {
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}

	.title h1 {
		font-size: 3.2rem;
	}
}

.back {
	color: #ffffff;
}
