body {
    background-image: url('Asset/photo-1519120944692-1a8d8cfc107f.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: monospace;
}

#title {
    color: #000000;
    font-size: 4rem;
    text-align: center;
}

#success {
    color: #282A3A;
}

#kotak {
    padding: 17px;
    color: #FFC107;
    background-color: #282a3aea;
    border-radius: 30px;
    margin-top: 80px;
}

.progress-bar {
    transition: width 2s;
}

.progress {
    height: 2rem;
}

.border {
    background-color: #282a3aea;
    color: #FFC107;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}