body {
    background-image: url('Asset/photo-1519120944692-1a8d8cfc107f.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: monospace;
}

.container-fluid {
  max-width: 95%;
}

#balance-container {
    background-color: rgb(194, 248, 239);
    border: solid 10px;
    border-color: rgb(44, 255, 195);
}

.transaction {
  font-family: Arial, sans-serif;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}

.transaction p {
  margin: 0;
}

.transaction .type{
  color: black;
}

.transaction .name{
  color: gray;
}

.transaction .transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}


.transaction .nominal {
  flex: 1;
  text-align: right;
}

.income-transaction {
  background-color: #e0f7fa;
}

.outcome-transaction {
  background-color: #ffebee; 
}
